worker_processes auto;

events {
    worker_connections {{ worker_connections }};
}

http {
    include       mime.types;
    default_type  application/octet-stream;

    include /etc/nginx/sites-enabled/*;
}
